<template>
  <footer class="footer">
    <div class="container">
      <nav>
      </nav>
      <div class="copyright text-center">
        &copy; {{ new Date().getFullYear() }}
        GoTracker
      </div>
    </div>
  </footer>
</template>
<script>
export default {};
</script>
<style></style>
