<template>
  <ul class="nav nav-mobile-menu">
    <li>
        <a slot="title" @click="sair">
          <i class="material-icons" style="margin-left: 5px;">exit_to_app</i>
          <p>Sair</p>
        </a>
    </li>
    <li>
      <drop-down>
        <a slot="title" class="dropdown-toggle" data-toggle="dropdown">
          <i class="material-icons" style="margin-left: 5px;">notifications</i>
          <span class="notification">{{ quantidadeNotificacoes }}</span>
          <p>Notificações</p>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li :key="key" v-for="(oNotificacao, key) of notificacoes">
                <a href="#">{{ oNotificacao.descricao }}</a>
            </li>
        </ul>
      </drop-down>
    </li>
  </ul>
</template>
<script>
export default {
  data() {
    return {

    };
  },
  props: {
        notificacoes: {
          type: Array,
          default: () => {
            return []
          }
        },
        quantidadeNotificacoes: {
            type: Number,
            default: 0
        }
  },
  methods: {
        sair() {
            sessionStorage.removeItem("sToken");
            location.reload();
        }
  }
};
</script>
