<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <notifications></notifications>

    <side-bar
      :sidebar-item-color="sidebarBackground"
      :sidebar-background-image="sidebarBackgroundImage"
    >
      <mobile-menu slot="content" :notificacoes="notificacoes" :quantidadeNotificacoes="quantidadeNotificacoes"></mobile-menu>  
      <sidebar-link :to="{path: route.path}" :key="key" v-for="(route, key) of routes">
        <md-icon>{{ route.icon }}</md-icon>
        <p>{{ route.name }}</p>
      </sidebar-link>
    </side-bar>

    <div class="main-panel">
      <top-navbar :notificacoes="notificacoes" :quantidadeNotificacoes="quantidadeNotificacoes"></top-navbar>

      <dashboard-content> </dashboard-content>

      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>

<script>
import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import DashboardContent from "./Content.vue";
import MobileMenu from "@/pages/Layout/MobileMenu.vue";

export default {
  components: {
    TopNavbar,
    DashboardContent,
    ContentFooter,
    MobileMenu
  },
  data() {
    return {
      sidebarBackground: "green",
      sidebarBackgroundImage: require("@/assets/img/sidebar-2.jpg"),
      routes: [],
      iInterval: null,
      notificacoes: [],
      quantidadeNotificacoes: 0
    };
  },
  mounted() {
    this.filterRoutes();
    
    this.iInterval = setInterval(() => {
        const sToken = sessionStorage.getItem("sToken");

        if (sToken != null) {
            sessionStorage.removeItem("sToken");
            this.$destroy();

            alert("A sessão espirou, entre novamente.");

            location.reload();

            this.clearIntervalToken();
        }
    }, 1800000);

    this.notificacoes = [];
    this.quantidadeNotificacoes = this.notificacoes.length;
  },
  methods: {
    clearIntervalToken() {
      clearInterval(this.iInterval);
    },
    filterRoutes() {
      this.$router.options.routes[2].children.forEach((oRotas) => {
        if (oRotas.hideMenu == undefined) {
          this.routes.push(oRotas);
        }
      });
    }
  }
};
</script>
