<template>
  <md-toolbar md-elevation="0" class="md-transparent">
    <div class="md-toolbar-row">
      <div class="md-toolbar-section-start">
        <h3 class="md-title">{{ $route.name }}</h3>
      </div>
      <div class="md-toolbar-section-end">
        <md-button
          class="md-just-icon md-simple md-toolbar-toggle"
          :class="{ toggled: $sidebar.showSidebar }"
          @click="toggleSidebar"
        >
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </md-button>

        <div class="md-collapse">
          <md-list>
            <li class="md-list-item">
                <div class="md-list-item-content">
                  <drop-down>
                    <md-button
                      slot="title"
                      class="md-button md-just-icon md-simple"
                      data-toggle="dropdown"
                    >
                      <md-icon>notifications</md-icon>
                      <span class="notification">{{ quantidadeNotificacoes }}</span>
                      <p class="hidden-lg hidden-md">Notificações</p>
                    </md-button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li :key="key" v-for="(oNotificacao, key) of notificacoes">
                          <a href="#">{{ oNotificacao.descricao }}</a>
                        </li>
                    </ul>
                  </drop-down>
                </div>
            </li>

            <md-list-item @click="sair">
              <i class="material-icons">exit_to_app</i>
              <p class="hidden-lg hidden-md">Sair</p>
            </md-list-item>
          </md-list>
        </div>
      </div>
    </div>
  </md-toolbar>
</template>

<script>
export default {
  data() {
    return {
      
    };
  },
  methods: {
    toggleSidebar() {
      this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
    },
    sair() {
      sessionStorage.removeItem("sToken");
      location.reload();
    }
  },
  props: {
        notificacoes: {
          type: Array,
          default: () => {
            return []
          }
        },
        quantidadeNotificacoes: {
          type: Number,
          default: 0
        }
  }
};
</script>

<style lang="css"></style>
