<template>
	<div id="map"></div>
</template>

<script>
import apiRequests from "../apiRequests.js";
import maps from "../maps.js";

export default {
    mounted() {
        apiRequests.get("coordenada", [], (aCoordenada) => {
            maps.render(aCoordenada);
        });
    }
};
</script>
