<template>
<div>
    <div class="logoImg">
        <img :src="imgLogo" alt="GoTracker" />
    </div>
    <form novalidate class="md-layout md-alignment-top-center" @submit.prevent="validateUser">
        <md-card class="md-layout-item md-size-50 md-small-size-100">
            <md-card-header>
                <div class="md-title" style="text-align: center;">Bem-vindo</div>
            </md-card-header>

            <md-field :class="getValidationClass('email')">
                <label for="email">E-mail</label>
                <md-input type="email" name="email" id="email" v-model="form.email" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.email.required">E-mail é obrigatório</span>
                <span class="md-error" v-else-if="!$v.form.email.email">E-mail inválido</span>
            </md-field>

            <md-field :class="getValidationClass('senha')">
                <label for="senha">Senha</label>
                <md-input name="senha" id="senha" type="password" v-model="form.senha" :disabled="sending" />
                <span class="md-error" v-if="!$v.form.senha.required">Senha é obrigatória</span>
            </md-field>

            <md-progress-bar md-mode="indeterminate" v-if="sending" />

            <md-card-actions>
                <span class="centerButton">
                    <md-button type="submit" :disabled="sending">Entrar</md-button>
                </span>
            </md-card-actions>
        </md-card>
    </form>
</div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, email } from "vuelidate/lib/validators";
import { API } from "../../config/api.js";
import md5 from 'md5'

export default {
    name: "Login",
    mixins: [validationMixin],
    data: () => ({
        form: {
            email: null,
            senha: null
        },
        sending: false,
        imgLogo: require("@/assets/img/logo.png")
    }),
    validations: {
        form: {
            email: {
                required,
                email
            },
            senha: {
                required
            }
        }
    },
    methods: {
        getValidationClass(fieldName) {
            const field = this.$v.form[fieldName];

            if (field) {
                return {
                    "md-invalid": field.$invalid && field.$dirty
                };
            }
        },
        clearForm() {
            this.$v.$reset();
            this.form.email = null;
            this.form.senha = null;
        },
        loginUser() {
            this.sending = true;

            this.$http.post(API.url+"autenticacao",
            {
                email : this.form.email,
                senha : md5(this.form.senha)
            },
            {
                emulateJSON: true
            }).then(response => response.json()).then((response) => {
                this.sending = false;
                this.clearForm();

                sessionStorage.setItem("sToken", response.sToken);

                this.$router.push('/app');
            }).catch(response => response.json()).then((error) => {
                this.sending = false;

                if (error.messages != undefined) {
                    alert(error.messages.error);
                } else {
                    alert(error.message);
                }      
            });
        },
        validateUser() {
            this.$v.$touch();

            if (!this.$v.$invalid) {
                this.loginUser();
            }
        }
    }
};
</script>

<style lang="scss" scoped>
    html {
        background-color: #EEEEEE !important;
    }

    .md-progress-bar {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
    }

    form {
        padding-top: 2%;
    }

    .md-card-header {
        background-color: #4caf50 !important;  
        color: white; 
    }

    .md-button {
        background-color: #4caf50 !important;  
    }

    .centerButton {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    @media only screen and (min-width: 500px) {
       .md-layout {
            width: 50%;
        }
    }

    div {
        position: relative;
    }

    form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -0%);
    }

    @media only screen and (max-width: 2230px) {
        form {
            top: 90% !important;
        }
    }

    @media only screen and (max-width: 500px) {
        form {
            width: 90% !important;
        }
    }

    .md-card-header {
        margin-bottom: 25px !important;
    }

    .logoImg {
        text-align: center;
        margin-top: 8%;
    }
</style>
