<template>
    <div class="content">
        <div class="divForm">
            <md-progress-bar md-mode="indeterminate" v-if="sending || deletando" />
            <form novalidate class="md-layout md-elevation-1" @submit.prevent="validaDispositivo">
                <md-card-content>
                    <input type="hidden" name="id_dispositivo" id="id_dispositivo" v-model="form.id_dispositivo">
                    <div class="md-layout md-gutter">
                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('codigo')">
                                <label for="codigo">Código</label>
                                <md-input name="codigo" id="codigo" v-model="form.codigo" :disabled="sending || disableCodigo" autocomplete="off" />
                                <span class="md-error" v-if="!$v.form.codigo.required">Este campo é obrigatório</span>
                            </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100">
                            <md-field :class="getValidationClass('nome')">
                                <label for="nome">Nome</label>
                                <md-input name="nome" id="nome" v-model="form.nome" :disabled="sending" autocomplete="off" />
                                <span class="md-error" v-if="!$v.form.nome.required">Este campo é obrigatório</span>
                            </md-field>
                        </div>

                        <div class="md-layout-item md-small-size-100 buttonSalvar">
                            <md-button class="md-raised md-success" type="submit" :disabled="sending">Salvar</md-button>
                        </div>
                    </div>
                </md-card-content>
            </form>
        </div>
        <md-table v-model="dispositivos" md-card>
            <md-table-row slot="md-table-row" slot-scope="{ item }">
                <md-table-cell md-label="Código" md-sort-by="codigo">{{ item.codigo }}</md-table-cell>
                <md-table-cell md-label="Nome" md-sort-by="nome">{{ item.nome }}</md-table-cell>
                <md-table-cell md-label="Ações">
                    <md-button class="md-raised md-success" type="button" v-on:click="editarDispositivo(item.id_dispositivo)">
                        <span class="material-icons">create</span>
                        Editar
                    </md-button>

                    <md-button class="md-raised md-primary" type="button" v-on:click="ativaModalDeletar = true; id_dispositivo_deletar = item.id_dispositivo">
                        <span class="material-icons">delete_forever</span>
                        Deletar
                    </md-button>
                </md-table-cell>
            </md-table-row>
        </md-table>
        <div>
            <md-dialog-confirm 
            :md-active.sync="ativaModalDeletar" 
            md-title="Deletar este dispositivo?" 
            md-content="Isso fará com que você não possa mais visualizar a localização deste" 
            md-confirm-text="Deletar" 
            md-cancel-text="Cancelar" 
            @md-confirm="deletarDispositivoUsuario" />
        </div>
    </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required} from "vuelidate/lib/validators";
import apiRequests from "../apiRequests.js";

export default {
    name: 'MeusDispositivos',
    mixins: [validationMixin],
    data: () => ({
        form: {
            id_dispositivo: null,
            codigo: null,
            nome: null
        },
        sending: false,
        disableCodigo: false,
        dispositivos: [],
        ativaModalDeletar: false,
        id_dispositivo_deletar: null,
        deletando: false
    }),
    validations: {
        form: {
            codigo: {
                required
            },
            nome: {
                required
            }
        }
    },
    methods: {
        getValidationClass(fieldName) {
            const field = this.$v.form[fieldName];

            if (field) {
                return {
                    "md-invalid": field.$invalid && field.$dirty
                };
            }
        },
        clearForm() {
            this.$v.$reset();
            this.form.id_dispositivo = null;
            this.form.codigo = null;
            this.form.nome = null;
            this.sending = false;
            this.disableCodigo = false;
        },
        salvarDispositivo() {
            this.sending = true;

            apiRequests.post("dispositivoCliente",
            {
                id_dispositivo: this.form.id_dispositivo,
                codigo: this.form.codigo,
                nome: this.form.nome
            }, (aDispositivos) => {
                this.dispositivos = aDispositivos;

                this.clearForm();
            });
        },
        validaDispositivo() {
            this.$v.$touch();

            if (!this.$v.$invalid) {
                this.salvarDispositivo();
            }
        },
        editarDispositivo(id_dispositivo) {
            const oDispositivos = this.dispositivos.find((oDispositivo) => {
                return oDispositivo.id_dispositivo == id_dispositivo;
            });

            this.removeDispositivoLista(id_dispositivo);

            this.form.id_dispositivo = oDispositivos.id_dispositivo;
            this.form.codigo = oDispositivos.codigo;
            this.form.nome = oDispositivos.nome;

            this.disableCodigo = true;
        },
        removeDispositivoLista(id_dispositivo) {
            for (let key in this.dispositivos) {
                let oDispositivo = this.dispositivos[key];

                if (oDispositivo.id_dispositivo == id_dispositivo) {
                    this.dispositivos.splice(key, 1);
                }
            }
        },
        deletarDispositivoUsuario() {
            this.deletando = true;

            apiRequests.delete("dispositivoCliente",
            [
                this.id_dispositivo_deletar
            ], (aRetorno) => {
                this.deletando = false;

                this.removeDispositivoLista(this.id_dispositivo_deletar);
            });
        }
    },
    mounted() {
        apiRequests.get("dispositivoCliente", [], (aDispositivos) => {
            this.dispositivos = aDispositivos;
        });
    }
}
</script>

<style scoped>
    @media only screen and (max-width: 960px) {
        .buttonSalvar {
            position: relative;
        }

        .md-button {
            position: relative;
            top: 10%;
            left: 50%;
            transform: translate(-50%, -0%);
        }

        .md-layout {
            width: 100% !important;
        }

        .md-card-content {
            width: 100% !important;
        }
    }

    @media only screen and (min-width: 961px) {
        .md-field {
            width: 500px;
        }
    }

    .divForm {
        background-color: #FFF;        
    }

    .divForm button {
        margin-top: 20px;
    }

    .material-icons {
        margin-right: 3px;
    }

    .md-button {
        margin-right: 5px;
        height: 35px;
    }
</style>
