<template>
    <div class="content">
        <md-progress-bar md-mode="indeterminate" v-if="progressBar" />
        <md-table v-model="dispositivos" md-card>
            <md-table-row slot="md-table-row" :id="item.codigo" slot-scope="{ item }">
                <md-table-cell md-label="Código" md-sort-by="codigo">{{ item.codigo }}</md-table-cell>
                <md-table-cell md-label="Nome" md-sort-by="nome">{{ item.nome }}</md-table-cell>
                <md-table-cell md-label="Ações">
                    <md-button class="md-success" @click="buscarDatas(item.codigo, item.id_dispositivo)">
                        <span class="material-icons">settings_remote</span>
                        Selecionar
                    </md-button>
                </md-table-cell>
            </md-table-row>
        </md-table>
        <div id="divFiltros" v-if="filtros.mostra" class="md-elevation-1">
            <md-datepicker v-model="filtros.dataSelecionada" md-immediately :md-disabled-dates="desabilitaDatas" :md-model-type="String" @input="montaTabelaDia()">
                <label>Dia</label>
            </md-datepicker>
            <div class="md-layout md-gutter" v-if="filtros.filtrosHora.mostra">
                <div class="md-layout-item md-small-size-100">
                    <md-field :class="filtros.filtrosHora.classInvalidHoraInicial">
                        <label for="horaInicial">Hora Inicial</label>
                        <md-input v-mask="'##:##'" v-model="filtros.filtrosHora.horaInicial" autocomplete="off" @keyup="filtroHoras()"/>
                        <span class="md-error">Hora inválida</span>
                    </md-field>
                </div>

                <div class="md-layout-item md-small-size-100">
                    <md-field :class="filtros.filtrosHora.classInvalidHoraFinal">
                        <label for="horaFinal">Hora Final</label>
                        <md-input v-mask="'##:##'" v-model="filtros.filtrosHora.horaFinal" autocomplete="off" @keyup="filtroHoras()"/>
                        <span class="md-error">Hora inválida</span>
                    </md-field>
                </div>
            </div>
        </div>
        <div id="tableCoordenadas" class="md-elevation-1" v-if="mostraTabelaDias">
            <md-table v-model="coordenadasDia">
                <md-table-row slot="md-table-row" :id="item.codigo" slot-scope="{ item }">
                    <md-table-cell md-label="Data" md-sort-by="data">{{ item.data_inclusao }}</md-table-cell>
                    <md-table-cell md-label="Local" md-sort-by="local">{{ item.nomeRua }}</md-table-cell>
                    <md-table-cell md-label="Ações">
                        <md-button class="md-primary" v-on:click="visualizarMapa(item.id_coordenada)">
                            <span class="material-icons">streetview</span>
                            Visualizar
                        </md-button>
                    </md-table-cell>
                </md-table-row>
            </md-table>
        </div>
        <md-dialog-alert :md-active.sync="mostrarMapa" md-content="<div id='map' style='width: 100%; height: 450px'></div>"/>
    </div>
</template>

<script>
import apiRequests from "../apiRequests.js";
import maps from "../maps.js";

export default {
    name: 'pesquisaLocalizacao',
    data() {
        return {
            filtros: {
                mostra: false,
                dataSelecionada: null,
                datasHabilitadas: [],
                filtrosHora: {
                    mostra: false,
                    horaInicial: null,
                    horaFinal: null,
                    classInvalidHoraInicial: null,
                    classInvalidHoraFinal: null
                }
            },
            dispositivos: [],
            progressBar: true,
            coordenadas: [],
            coordenadasDia: [],
            mostrarMapa: false,
            mostraTabelaDias: false
        }
    },
    methods: {
        buscarDatas(codigo, id_dispositivo) {
            this.progressBar = true;
            this.marcarDispositivo(codigo);

            apiRequests.get("coordenada", [id_dispositivo], (aCoordenadas) => {
                this.filtros.mostra = true;
                this.filtros.dataSelecionada = null;
                this.$material.locale.dateFormat = "dd/MM/yyyy";

                for (let sDia in aCoordenadas) {
                    this.filtros.datasHabilitadas.push(sDia);
                }

                this.coordenadas = aCoordenadas;
                this.progressBar = false;
            });
        },
        marcarDispositivo(codigo) {
            const aDispositivos = [...document.getElementsByClassName("md-table-row")];

            aDispositivos.forEach((oDispositivo) => {
                oDispositivo.classList.remove("marcarLinhaTabela");
            });

            document.getElementById(codigo).classList.add("marcarLinhaTabela");
        },
        desabilitaDatas(data) {
            const sData = data.toLocaleDateString("pt-BR");

            return !this.filtros.datasHabilitadas.includes(sData);
        },
        montaTabelaDia() {
            const coordenadasDia = this.coordenadas[this.filtros.dataSelecionada];
            const sToken = "pk.eyJ1IjoibmF0YW5hZWxnaWFjb21pbmkiLCJhIjoiY2tocGw5aGhtMDB6djJ4bWNqMHZpazRudiJ9.rwMJx3cMNPcssasLUDR9TQ";
            const sUrl = "https://api.mapbox.com/geocoding/v5/mapbox.places/";

            const coordenadasDiaAux = [];

            for (let oCoordenada of coordenadasDia) {
                let xhr = new XMLHttpRequest();
                xhr.open("GET", `${sUrl}${oCoordenada.longitude},${oCoordenada.latitude}.json?access_token=${sToken}`, false);
                
                xhr.onload = () => {
                    const oRetorno = JSON.parse(xhr.response);

                    const sRua = oRetorno.features[0].text;
                    const sCidade = oRetorno.features[3].text;
                    const sEstado = oRetorno.features[4].text;

                    oCoordenada.nomeRua = `${sRua} - ${sCidade} - ${sEstado}`;

                    coordenadasDiaAux.push(oCoordenada);
                }

                xhr.send();
            }

            this.mostraTabelaDias = true;

            this.coordenadasDia = coordenadasDiaAux;

            this.filtros.filtrosHora.horaInicial = null;
            this.filtros.filtrosHora.horaFinal = null;
            this.filtros.filtrosHora.classInvalidHoraInicial = null;
            this.filtros.filtrosHora.classInvalidHoraFinal = true;
            this.filtros.filtrosHora.mostra = true;
        },
        filtroHoras() {
            const dataCorrente = new Date();

            let dataInicial = null;
            let dataFinal = null;

            if (this.filtros.filtrosHora.horaInicial) {
                this.filtros.filtrosHora.horaInicial = this.filtros.filtrosHora.horaInicial.substr(0, 5);

                dataInicial = new Date(`${dataCorrente.getFullYear()}-${dataCorrente.getMonth()}-${dataCorrente.getDate()} ${this.filtros.filtrosHora.horaInicial}`);
            }

            if (this.filtros.filtrosHora.horaFinal) {
                this.filtros.filtrosHora.horaFinal = this.filtros.filtrosHora.horaFinal.substr(0, 5);

                dataFinal = new Date(`${dataCorrente.getFullYear()}-${dataCorrente.getMonth()}-${dataCorrente.getDate()} ${this.filtros.filtrosHora.horaFinal}`);
            }

            this.mensagemErroHoras();

            const coordenadasDiaAux = [];

            for (let oCoordenada of this.coordenadas[this.filtros.dataSelecionada]) {
                const horaCoordenada = oCoordenada.data_inclusao.split(" ")[1];

                const dataCoordenada = new Date(`${dataCorrente.getFullYear()}-${dataCorrente.getMonth()}-${dataCorrente.getDate()} ${horaCoordenada}`);

                if ((dataInicial != null && dataInicial.getFullYear()) && (dataFinal != null && dataFinal.getFullYear())) {
                    if (dataCoordenada.getTime() >= dataInicial.getTime() && dataCoordenada.getTime() <= dataFinal.getTime()) {
                        coordenadasDiaAux.push(oCoordenada);
                    }
                } else {
                    if (dataInicial != null && dataInicial.getFullYear()) {
                        if (dataCoordenada.getTime() >= dataInicial.getTime()) {
                            coordenadasDiaAux.push(oCoordenada);
                        }
                    } else {
                        if (dataFinal != null && dataFinal.getFullYear()) {
                            if (dataCoordenada.getTime() <= dataFinal.getTime()) {
                                coordenadasDiaAux.push(oCoordenada);
                            }
                        } else {
                            coordenadasDiaAux.push(oCoordenada);
                        }
                    }   
                }
            }

            this.coordenadasDia = coordenadasDiaAux;
        },
        mensagemErroHoras() {
            const dataCorrente = new Date();

            if (this.filtros.filtrosHora.horaInicial) {
                const dataInicial = new Date(`${dataCorrente.getFullYear()}-${dataCorrente.getMonth()}-${dataCorrente.getDate()} ${this.filtros.filtrosHora.horaInicial}`);

                if (!dataInicial.getFullYear()) {
                    this.filtros.filtrosHora.classInvalidHoraInicial = "md-invalid";
                } else {
                    this.filtros.filtrosHora.classInvalidHoraInicial = null;
                }
            } else {
                this.filtros.filtrosHora.classInvalidHoraInicial = null;
            }

            if (this.filtros.filtrosHora.horaFinal) {
                const dataFinal = new Date(`${dataCorrente.getFullYear()}-${dataCorrente.getMonth()}-${dataCorrente.getDate()} ${this.filtros.filtrosHora.horaFinal}`);

                if (!dataFinal.getFullYear()) {
                    this.filtros.filtrosHora.classInvalidHoraFinal = "md-invalid";
                } else {
                    this.filtros.filtrosHora.classInvalidHoraFinal = null;
                }
            } else {
                this.filtros.filtrosHora.classInvalidHoraFinal = null;
            }
        },
        visualizarMapa(id_coordenada) {
            for (let oCoordenada of this.coordenadasDia) {
                if  (oCoordenada.id_coordenada == id_coordenada) {
                    this.mostrarMapa = true;

                    maps.render([
                        oCoordenada
                    ]);

                    break;
                }
            }
        }
    },
    mounted() {
        apiRequests.get("dispositivoCliente", [], (aDispositivos) => {
            this.dispositivos = aDispositivos;
            this.progressBar = false;
        });
    }
}
</script>

<style scoped>
    .material-icons {
        margin-right: 3px;
    }

    .md-button {
        margin-right: 5px;
        height: 35px;
    }

    #divFiltros {
        background-color: #FFF;
        padding: 10px;
    }

    .marcarLinhaTabela {
        background-color: #9C27B0;
        color: #FFF;
    }

    .marcarLinhaTabela:hover {
        color: rgb(0, 0, 0);
    }

    #tableCoordenadas {
        margin-top: 20px;
        height: 400px;
        overflow-y: scroll;
    }

    .md-dialog {
        width: 100% !important
    }
</style>
